@import "../variables";

.about_me {
  @include flex_dir_col;
  row-gap: 120px;
  width: 70%;
  transition: all 3s linear;
  transform: translateY(50px);

  &_title {
    text-transform: uppercase;
    font-size: 40px;
    color: rgba(255, 0, 38, 0.55);
    line-height: 50px;
    text-align: justify;
    transition: all 1s ease;
    transform: translateY(100px);

    h2 {
      font-weight: 200;
      opacity: 0;
      transition: all 2s linear 0.5s;

      &._active {
        opacity: 1;
      }
    }

    &._active {
      transform: translateY(0px);
    }
  }

  .content {
    @include flex_jus-sb_alc;
    width: 100%;
    padding: 20px;
    overflow: hidden;

    .astronaut {
      display: flex;
      justify-content: center;
      width: 50%;

      img {
        opacity: 0;
        transition: all 1s linear;
        animation: move_astronaut 15s linear infinite;
      }

      &._active {
        img {
          opacity: 0.3;
        }
      }
    }

    h3 {
      width: 300px;
      font-weight: 100;
      font-size: 26px;
      animation: move_text 15s linear infinite;
      color: rgba(255, 0, 38, 0.55);
      opacity: 0;
      transition: all 3s linear;

      &._active {
        opacity: 1;
      }

    }
  }
}

@keyframes move_text {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 5px) scale(0.9);

  }
  50% {
    transform: translate(-10px, 10);
  }
  75% {
    transform: translate(15px, -15px) scale(1);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move_astronaut {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(10px, 5px) scale(0.9) rotate(30deg);

  }
  50% {
    transform: translate(-10px, 10) rotate(60deg);
  }
  75% {
    transform: translate(15px, -15px) scale(1) rotate(30deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

