.about_me{
  width: 70%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  border: 1px solid white;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  transition: all 0.5s ease-in;
  //transform:skew(50deg,-10deg);
  .circle_content{
    transition: all 0.3s linear;
    //transform:skew(-50deg, 10deg);
  }
}