@import "../variables";

.constellation {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translateY(100px) scale(0.5);
  overflow: hidden;

  &._active {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  svg {
    position: absolute;
    opacity: 1;
    transition: all 0.4s linear;
  }

  &_ursa {
    svg {
      position: fixed;
      bottom: 5%;
      left: 10%;
      transform: translate(calc(var(--posX) * 1px), calc(var(--posY) * 1px));
    }
  }

  &_virgo {
    svg {
      right: 4%;
      top: 20%;
      transform: translate(calc(var(--posX) * 1px), calc(var(--posY) * 1px));

    }
  }

  &_aries {
    svg {
      top: 12%;
      left: 35%;
      transform: translate(calc(var(--posX) * 1px), calc(var(--posY) * 1px));

    }
  }

}

.stars {
  svg {
    width: 100% ;
    transform: scale(4);
    g {
      width: 100%;
      height: 100vh;
      opacity: .7;
      transform: translate(calc(var(--posX) * .2px), calc(var(--posY) * .2px));

      circle {
        transition: all 0.4s linear;
        fill: rgba(255, 0, 0, 0.56);
      }
    }

  }
}
