.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s ease 0.4s;
  column-gap: 500px;

  &:hover {
    .project_cart {
      .poster {
        img {
          box-shadow: 3px 5px 5px red,
          3px 5px 15px red;
        }
        .programing_languages{
          opacity: 1;
        }
      }
    }
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    .project_cart {
      .poster {
        animation: move_title 15s ease infinite;

      }
    }
  }



  &._active {
    column-gap: 50px;

    .project_info {
      opacity: 1;
    }
  }

  &_cart {

    .poster {
      position: relative;
      width: 400px;
      height: 250px;
      border-radius: 20px;
      transition: all 1.5s linear;
      opacity: 0;


      .programing_languages{
        position: absolute;
        bottom: -70px;
        left: -20px;
        display: flex;
        //column-gap: 10px;
        transition: all 0.8s linear;
        opacity: 0;
        z-index: 10;
        animation: move_title 10s ease infinite;


        svg {
          width: 100px;
          height: 100px;
        }
      }


      img {
        transition: all 0.8s linear;
        z-index: 5;
        box-shadow: 3px 5px 5px rgba(0, 0, 0, 0),
        3px 5px 15px rgba(0, 0, 0, 0);
        animation: move_title 10s ease infinite;
        border-radius: 20px;

      }

      &._active {
        opacity: 1;
      }
    }


  }

  &_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    min-width: 350px;
    max-width: 350px;
    font-weight: 100;
    transition: all 0.8s linear;
    color: rgba(255, 0, 38, 0.55);
    opacity: 0;

    h3 {
      text-align: center;
      font-size: 24px;
    }

    p {
      font-size: 16px;
      text-align: justify;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 20px;
    }
  }
}