@import "nullStyle";
@import "imports";
@import "fonts";
@import "adaptive";




::-webkit-scrollbar {
  width: 15px;
  cursor: url("/public/images/other/cursor-click.png"),auto;
}

::-webkit-scrollbar-track {
  background: #05050c;
  cursor: url("/public/images/other/cursor-click.png"),auto;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #05050c;
  border-radius: 10px;
  transition: all 0.5s linear;
  box-shadow: inset 1px 1px 10px red;
  cursor: url("/public/images/other/cursor-click.png"),auto;
}

