* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.back {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background: #05050c;
  z-index: -10;
}
.back .light_top {
  z-index: -10;
  position: absolute;
  top: -180px;
  left: -180px;
  background: rgba(255, 0, 0, 0.45);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 100px 100px 250px red;
  animation: lighting_top 5s linear infinite;
}
.back .light_bot {
  z-index: -10;
  position: absolute;
  bottom: -180px;
  right: -180px;
  background: rgba(255, 0, 0, 0.45);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: -100px -100px 250px red;
  animation: lighting_bot 5s linear infinite;
}

@keyframes lighting_top {
  0% {
    box-shadow: 100px 100px 250px red;
  }
  50% {
    box-shadow: 100px 100px 120px red;
  }
  100% {
    box-shadow: 100px 100px 260px red;
  }
}
@keyframes lighting_bot {
  0% {
    box-shadow: -100px -100px 250px red;
  }
  50% {
    box-shadow: -100px -100px 120px red;
  }
  100% {
    box-shadow: -100px -100px 260px red;
  }
}
.black_hole {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}

.oval {
  height: 350px;
  width: 700px;
  border: 1px solid rgba(255, 0, 98, 0.45);
  border-radius: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewY(10deg) scale(0.5) translateY(-500px);
  transition: all 2s ease;
  box-shadow: 1px 1px 3px rgba(255, 0, 98, 0.45), 1px 1px 4px rgba(255, 0, 98, 0.45), inset 1px 1px 20px rgba(255, 0, 98, 0.45);
  animation: lighting_on 3s ease-in infinite;
  background-image: url("../../public/images/other/Musn.gif");
  background-size: 100%;
}
.oval._active {
  transform: skewY(10deg) scale(1);
}
.oval .list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  min-width: 500px;
  top: 0;
  overflow: hidden;
  position: relative;
  transform: skewY(-10deg);
  animation: rotate_list 4s ease infinite 2.5s;
}
.oval span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 36px;
  transition: all 3s ease, opacity 0.5s linear, color 3s linear, scale 1s linear;
  width: 383px;
  text-align: center;
  font-weight: 200;
  text-shadow: 2px 2px 1px #05050c;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.1);
  color: #05050c;
}
.oval span:nth-child(1)._active {
  opacity: 1;
  transform: scale(0.9) translate(-50%, -50%);
  color: #ff0062;
}
.oval span:nth-child(2)._active {
  opacity: 1;
  transform: scale(0.9) translate(-50%, -50%);
  color: #ff0062;
}
.oval span:nth-child(3)._active {
  opacity: 1;
  transform: scale(0.9) translate(-50%, -50%);
  color: #ff0062;
}

@keyframes lighting_on {
  0% {
    box-shadow: 1px 1px 3px rgba(255, 0, 98, 0.45), 1px 1px 10px rgba(255, 0, 98, 0.45), 1px 1px 3px rgba(255, 0, 98, 0.45), 1px 1px 20px rgba(255, 0, 98, 0.45);
    transform: skewY(10deg) scale(1);
    background-size: 100%;
  }
  50% {
    box-shadow: 1px 1px 3px rgba(255, 0, 98, 0.45), 1px 1px 10px rgba(255, 0, 98, 0.45), 1px 1px 3px rgba(255, 0, 98, 0.45), 1px 1px 20px rgba(255, 0, 98, 0.45), 1px 1px 3px rgba(255, 0, 98, 0.45), 1px 1px 40px rgba(255, 0, 98, 0.45);
    background-size: 105%;
  }
  100% {
    box-shadow: 1px 1px 3px rgba(255, 0, 98, 0.45), 1px 1px 10px rgba(255, 0, 98, 0.45), 1px 1px 3px rgba(255, 0, 98, 0.45), 1px 1px 20px rgba(255, 0, 98, 0.45);
    transform: skewY(10deg) scale(1);
    background-size: 100%;
  }
}
@keyframes rotate_list {
  0% {
    transform: skewY(-10deg) rotate(0);
  }
  100% {
    transform: skewY(-10deg) rotate(0deg);
  }
}
nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  top: 50%;
  left: 20px;
}
nav .nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95px;
  position: relative;
}
nav .nav_item .line {
  height: 40px;
  width: 1px;
  background: rgba(255, 38, 0, 0.45);
  box-shadow: 1px 1px 10px red;
  animation: lighting 2s linear infinite;
}
nav .nav_item .circle {
  height: 15px;
  width: 15px;
  border: 1px solid rgba(255, 38, 0, 0.45);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s linear;
}
nav .nav_item .text {
  position: absolute;
  color: rgba(255, 38, 0, 0.45);
  font-weight: 200;
  width: 70px;
  right: -50px;
  opacity: 0;
  transition: all 0.3s linear;
  cursor: pointer;
}
nav .nav_item:hover .text {
  opacity: 1;
  right: -78px;
  z-index: 30;
}
nav .nav_item:hover .circle {
  box-shadow: 1px 1px 10px red;
  transform: scale(1.2);
}
nav .nav_item._active .text {
  opacity: 1;
  right: -78px;
  z-index: 30;
}
nav .nav_item._active .circle {
  box-shadow: 1px 1px 10px red;
  transform: scale(1.2);
  background: rgba(255, 38, 0, 0.45);
}
nav .nav_title {
  position: absolute;
  top: 50%;
  left: -55px;
  transform: rotate(90deg) translateY(-50%);
  font-weight: 600;
  color: rgba(255, 38, 0, 0.45);
}

@keyframes lighting {
  0% {
    box-shadow: 1px 1px 10px red, 1px 1px 15px red;
  }
  50% {
    box-shadow: 1px 1px 10px red, 1px 1px 20px red;
  }
  100% {
    box-shadow: 1px 1px 10px red, 1px 1px 15px red;
  }
}
._first_item .line:nth-child(1) {
  position: relative;
  right: 14px;
  top: 8px;
  transform: rotate(-50deg);
}

._last_item .line:nth-child(3) {
  position: relative;
  right: 15px;
  top: -7px;
  transform: rotate(50deg);
}

.about_me {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  width: 70%;
  align-items: center;
  transition: all 3s linear;
  transform: translateY(50px);
}
.about_me_title {
  text-transform: uppercase;
  font-size: 40px;
  color: rgba(255, 0, 38, 0.55);
  line-height: 50px;
  text-align: justify;
  transition: all 1s ease;
  transform: translateY(100px);
}
.about_me_title h2 {
  font-weight: 200;
  opacity: 0;
  transition: all 2s linear 0.5s;
}
.about_me_title h2._active {
  opacity: 1;
}
.about_me_title._active {
  transform: translateY(0px);
}
.about_me .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}
.about_me .content h3 {
  width: 300px;
  font-weight: 100;
  font-size: 26px;
  animation: move_text 15s linear infinite;
  color: rgba(255, 0, 38, 0.55);
  opacity: 0;
  transition: all 3s linear;
}
.about_me .content h3._active {
  opacity: 1;
}

@keyframes move_text {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 5px) scale(0.9);
  }
  50% {
    transform: translate(-10px, 10);
  }
  75% {
    transform: translate(15px, -15px) scale(1);
  }
  100% {
    transform: translate(0, 0);
  }
}
.greeting {
  cursor: pointer;
  width: 300px;
  height: 300px;
  position: relative;
  transition: all 4s ease;
  transform: translate(-400px);
}
.greeting .obj {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 190px;
  height: 190px;
  border: 1px solid rgba(255, 0, 38, 0.55);
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: rgba(255, 0, 38, 0.55);
  transition: all 3s ease;
  transform: translate(-50%, -50%) rotate(0);
}
.greeting .obj .light {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  background: rgba(255, 0, 38, 0.38);
  transition: all 0.5s linear 1s;
  box-shadow: 1px 1px 10px red, 1px 1px 20px red, 1px 1px 40px red, 1px 1px 80px red, 1px 1px 160px red, 1px 1px 320px red, 1px 1px 640px red;
  animation: obj_lighting 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
.greeting .obj .light span {
  position: absolute;
  color: #05050c;
  width: 150px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s linear 0.7s;
}
.greeting .obj .light._active {
  width: 100%;
  height: 100%;
  animation: none;
  transition: all 1s linear;
}
.greeting .obj .light._active span {
  opacity: 1;
}
.greeting svg {
  position: absolute;
  transition: all 1s ease;
  transform: rotate(360deg);
}
.greeting svg path {
  fill: rgba(255, 0, 38, 0.55);
}
.greeting._active {
  transform: translate(0, 0) rotate(360deg);
}

@keyframes obj_lighting {
  0% {
    box-shadow: 1px 1px 10px red, 1px 1px 20px red, 1px 1px 40px red, 1px 1px 80px red, 1px 1px 160px red, 1px 1px 320px red, 1px 1px 640px red;
  }
  50% {
    box-shadow: 1px 1px 5px red, 1px 1px 10px red, 1px 1px 20px red, 1px 1px 40px red, 1px 1px 80px red, 1px 1px 160px red, 1px 1px 320px red;
  }
  100% {
    box-shadow: 1px 1px 10px red, 1px 1px 20px red, 1px 1px 40px red, 1px 1px 80px red, 1px 1px 160px red, 1px 1px 320px red, 1px 1px 640px red;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 70px;
  width: 70%;
  padding: 10px;
  padding-bottom: 100px;
}
.projects_top {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  overflow: hidden;
}
.projects_top h2 {
  text-align: start;
  font-weight: 200;
  font-size: 52px;
  color: rgba(255, 0, 38, 0.55);
  text-transform: uppercase;
  transition: all 1s ease;
  opacity: 0;
  transform: translate(-500px, 0);
  animation: move_title 15s linear infinite;
}
.projects_top h2._active {
  opacity: 1;
  transform: translate(0, 0);
}
.projects_top .underline {
  display: flex;
  align-items: center;
  width: 5px;
  transition: all 1.5s linear;
}
.projects_top .underline._active {
  width: 100%;
}
.projects_top .underline._active .line {
  width: 1500px;
}
.projects_top .underline._active .fire {
  animation: fire 0.4s linear infinite;
  opacity: 0;
}
.projects_top .underline .line {
  width: 100%;
  height: 1px;
  background: rgba(255, 0, 38, 0.55);
}
.projects_top .underline .fire {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 2s linear;
  background: rgba(255, 0, 38, 0.55);
}
.projects_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  row-gap: 50px;
  overflow: hidden;
  padding-bottom: 200px;
}

@keyframes fire {
  0% {
    box-shadow: 1px 1px 5px red, 1px 1px 10px red, 1px 1px 20px red;
  }
  50% {
    box-shadow: 1px 1px 10px red, 1px 1px 20px red, 1px 1px 30px red, 1px 1px 60px red;
  }
  100% {
    box-shadow: 1px 1px 5px red, 1px 1px 10px red, 1px 1px 20px red;
  }
}
@keyframes move_title {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(3px, 3px);
  }
  50% {
    transform: translate(-2px, 1px);
  }
  75% {
    transform: translate(5px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s ease 0.4s;
  column-gap: 500px;
}
.project:hover .project_cart .poster img {
  box-shadow: 3px 5px 5px red, 3px 5px 15px red;
}
.project:hover .project_cart .poster .programing_languages {
  opacity: 1;
}
.project:nth-child(2n) {
  flex-direction: row-reverse;
}
.project:nth-child(2n) .project_cart .poster {
  animation: move_title 15s ease infinite;
}
.project._active {
  column-gap: 50px;
}
.project._active .project_info {
  opacity: 1;
}
.project_cart .poster {
  position: relative;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  transition: all 1.5s linear;
  opacity: 0;
}
.project_cart .poster .programing_languages {
  position: absolute;
  bottom: -90px;
  left: -80px;
  display: flex;
  transition: all 0.8s linear;
  opacity: 0;
  z-index: 10;
  animation: move_title 10s ease infinite;
}
.project_cart .poster .programing_languages svg {
  width: 150px;
  height: 150px;
}
.project_cart .poster img {
  transition: all 0.8s linear;
  z-index: 5;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0), 3px 5px 15px rgba(0, 0, 0, 0);
  animation: move_title 10s ease infinite;
  border-radius: 20px;
}
.project_cart .poster._active {
  opacity: 1;
}
.project_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  min-width: 300px;
  font-weight: 100;
  transition: all 0.8s linear;
  color: rgba(255, 0, 38, 0.55);
  opacity: 0;
}
.project_info h3 {
  text-align: center;
  font-size: 24px;
}
.project_info p {
  font-size: 16px;
  text-align: justify;
}
.project_info .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.neon_btn {
  padding: 10px 10px;
  color: #c01723;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid #6c0e1c;
  overflow: hidden;
  transition: all 1s ease 0s;
}
.neon_btn .neon_line {
  position: absolute;
  display: block;
  border-radius: 100px;
}
.neon_btn .neon_line__top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: rgba(192, 23, 35, 0.73);
  transition: all 1s ease;
}
.neon_btn:hover .neon_line__top {
  left: 100%;
}
.neon_btn .neon_line__bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: rgba(192, 23, 35, 0.73);
  transition: all 1s ease;
}
.neon_btn:hover .neon_line__bottom {
  right: 100%;
}
.neon_btn .neon_line__left {
  left: 0;
  bottom: -100%;
  width: 5px;
  height: 100%;
  background: rgba(192, 23, 35, 0.73);
  transition: all 1s ease;
}
.neon_btn:hover .neon_line__left {
  bottom: 100%;
}
.neon_btn .neon_line__right {
  right: 0;
  top: -100%;
  width: 5px;
  height: 100%;
  background: rgba(192, 23, 35, 0.73);
  transition: all 1s ease;
}
.neon_btn:hover .neon_line__right {
  top: 100%;
}
.neon_btn:hover {
  transition: all 0.5s ease 0.2s;
  box-shadow: #c01723 0 0 10px, #c01723 0 0 20px;
  background: rgba(192, 23, 35, 0.73);
  color: #000;
}

@font-face {
  font-family: "WhyteInktrap";
  src: url("/public/fonts/WhyteInktrap-ExtraLight.woff2"), url("/public/fonts/WhyteInktrap-ExtraLight.woff");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "WhyteInktrap";
  src: url("/public/fonts/WhyteInktrap-Regular.woff2"), url("/public/fonts/WhyteInktrap-Regular.woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "WhyteInktrap";
  src: url("/public/fonts/WhyteInktrap-Book.woff2"), url("/public/fonts/WhyteInktrap-Book.woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "WhyteInktrap";
  src: url("/public/fonts/WhyteInktrap-Bold.woff2"), url("/public/fonts/WhyteInktrap-Bold.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "WhyteInktrap";
  src: url("/public/fonts/WhyteInktrap-Heavy.woff2"), url("/public/fonts/WhyteInktrap-Heavy.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "WhyteInktrap", sans-serif;
  font-weight: 400;
  color: rgba(245, 245, 245, 0.87);
}

#root {
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 100px;
}

/*# sourceMappingURL=style.css.map */
