@import "nullStyle";
@import "imports";
@import "fonts";




::-webkit-scrollbar {
  width: 1em;

}

::-webkit-scrollbar-track {
  background: #05050c;
  border-left: 1px solid $line_color;
  padding-block: 1em;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #05050c;
  border-radius: 10px;
  transition: all 0.5s linear;
  box-shadow: inset 1px 1px 10px red;

}

